.contentWidth {
  width: 80%;
}

.category {
  width: 30%;
  height: 330px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 900px;
}

.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span {
  margin: 10px 20px;
  color: rebeccapurple;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 60px;
  margin-top: 10px;
}

.category .box:hover {
  background-color: #ffe1ef;
  cursor: pointer;
}

/* .info {
  font-size: larger;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 600;
}

.info:hover {
  color: crimson;
} */

#slider_btn {
  margin: 10px 60px;
  display: flex;
  border: 2px solid #6759ff;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #6759ff;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

#move {
  padding-left: 600px;
  transform: translateY(-990%);
  font-weight: 900;
  font-size:x-large;
  position: relative;
  animation-name: slide-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  /* transition: all 0.3s ease; */
  /* padding-right: 10px; */
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% { 
    transform: translateX(0%);
    opacity: 1;
  }
}